
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel="icon" href="#">
        <title>Homework</title>
          <link rel="stylesheet" href="/styles.css">
      </head>
      <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-14">
          <p class="visible-xs">
            <div class="jumbotron">
                <a class="navbar-brand" href="#">Logo</a>
                <li><a href="#">About</a></li>
                <li><a href="#">Search</a></li>
              <h1 align="center">*Fall Days*</h1>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-xs-6 col-xs-10">
              <h2>Caturday Is Today</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="col-xs-6 col-xs-6">
              <h2>Rainy Days Are Around the Corner</h2>
              <p align="justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              </div>
            <div class="col-xs-6 col-xs-6">
              <img src="/images/nature.jpg" class="img-responsive" alt="Nature Image" />
              <h3>Love Is In the Air</h3>
              <p><font-size="2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p></font>
            <div class="container">
            <div class="col-xs-6 col-lg-4">
              <h2>Most Popular Posts</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <div class="nav4" style="height 40px;"
              <a href="#" class="blogs"> <img src="/images/nature.jpg" /></a>
              <a href="#" class="blogs"> <img src="/images/nature1.jpg" /></a>
              <a href="#" class="blogs"> <img src="/images/nature2.jpg" /><a/>
            </div>
          </div>
        </div>
      </div>
    </div>
      <footer class="container-fluid">
        <div class="col-xs-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-logo"
          <img class="img-responsive" src="/images/logo.png"
        <p>&copy; IronYard-Michelle 2015</p>
        <div class="col-xs-6 col-sm-3 sidebar" id="sidebar">
          <% sidebar.each do |sidebar| %>
            <a href="#" class="list-group">Nav 1</a> <% sidebar [:class] %>
            <% end %>
          </div>
      </footer>
    </div>
  </body>
</html>
