
.jumbotron {
    background: url('');
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.nav4 {
  background-color: inherit;
  height: auto;
  width: 150px;
  float:left;
  padding-left: 20px;
  font-family: Helvetica, sans-serif;
  color: #333333;
  padding-top: 20px;
  padding-right: 20px
}
