*{
  font-family: Garmond;
}
.jumbotron {
    background-image: url("images/images/fall1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.logo img{

}
p{
  font-family: Garmond, sans-serif;
  font-size: 1.2em;

.sidebar p{
  margin-left: 25px;
}

}
.nav4 {
  background-color: inherit;
  height: auto;
  width: 150px;
  float:left;
  padding-left: 20px;
  font-family: Helvetica, sans-serif;
  color: #333333;
  padding-top: 20px;
  padding-right: 20px
}
